Flask==1.0.2
flask-jwt-extended==3.5.1
flask-restplus==0.12.1
requests==2.21.0
git+https://github.com/qwc-services/qwc-services-core.git@7781a0016a38c09ad020ed03f31478b0cf0802d2#egg=qwc-services-core
pillow==5.4.1
werkzeug==0.16.1
jsonschema==2.6.0
